<% if @comp_move == "paper"
    @outcome = "tied"
  elsif @comp_move =="scissors"  
    @outcome = "lost"
  else
    @outcome = "won"  
  end %>



<h2>
  We played paper!
</h2>

<h2>
  They played <%= @comp_move %>!
</h2>

<h2>
  We <%= @outcome %>!
</h2>

<a href="/">Rules</a>
